@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {

    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
    background-color: black;
}
#container {
    display: flex;
    flex-direction: column;
}
#head {
    border: 1px solid red;
    border-style: dashed;
    border-radius: 25px;
    margin: 25px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 25px;
    font-size: 35px;
}
#game-container {
    margin: 35px 35px;
    position: relative;
    height: 50vh;
}
.pixel {
    width: 20px;
    height: 20px;
    position: absolute;
    cursor: pointer;
}
#restart-button {
    cursor: pointer;
}
#game-over {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    text-align: center;
}


@media (max-width: 768px) {
    #container {
        margin: 5px;
    }

    #head {
        font-size: 18px;
        padding: 5px 10px;
    }

    #game-container {
        margin: 10px;
    }

    #restart-button {
        font-size: 18px;
    }
}